@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 9, 9, 11; /* zinc-950 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
